body {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  font-family: monospace;
}

.chess-board {
  grid-column: 1;
  grid-row: 1;
}
.memory {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: start;
}
.memory > * {
  margin-bottom: 10px;
}

.table-dump {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.table-dump th {
  background: #ccc;
  font-weight: normal;
  text-align: left;
}
.memory-dump tr td:first-child {
  background: #ccc;
  font-weight: normal;
}
.table-dump th, .table-dump td {
  padding: 4px;
}

.c4-board {
  border: 3px solid blue;
  background: blue;
  width: 154px;
}
.c4-row {
  display: flex;
}
.c4-square {
  margin: 1px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.c4-empty {
  background: white;
}
.c4-red {
  background: red;
}
.c4-yellow {
  background: yellow;
}

.life-grid {
  width: 168px;
}
.life-row {
  display: flex;
}
.life-square {
  border: 1px solid #000;
  margin: 1px;
  width: 20px;
  height: 20px;
}
.life-alive {
  background: #000;
}
.life-dead {
  background: #fff;
}
.life-undef {
  background: #ccc;
}

.chess-board {
  width: 360px;
}
.chess-row {
  display: flex;
}
.chess-square {
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}
.chess-file-label {
  width: 35px;
  padding-left: 5px;
  text-align: left;
}
.chess-row-label {
  padding-left: 3px;
}
.chess-square-black {
  background: rgb(174, 138, 104);
}
.chess-square-white {
  background: rgb(236, 218, 185);
}

.inactive {
  background: #eee;
  font-style: italic;
}
